/* General styles */
body {
    font-family: 'Maven Pro', sans-serif;
    background-color: #FDFDFD;
}

/* Navigation bar styles */
.navbar {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FDFDFD;
}

.logo-placeholder {
    max-width: 208px;
    max-height: 144px;
    width: 100%;
    height: auto;
}

.navbar-nav .nav-item {
    margin-right: 20px; 
}

.navbar-nav .nav-item .nav-link {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding-bottom: 90px; 
    display: flex;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ADC094;
}

/* Rounded box for Log In */
.navbar-nav .nav-item .nav-link.rounded-box {
    border-radius: 15px;
    padding: 10px 20px; 
    background-color: #ADC094; 
    color: #fff; 
}

.navbar-nav .nav-item .nav-link.rounded-box:hover {
    background-color: #516C2D; 
}

/* Text and Image Section */
.container.mt-4 {
    margin-top: 60px;
}

.container h2 {
    font-size: 70px;
    color: #333;
}

.indented-line {
    display: inline-block;
    margin-left: 100px; 
}

.kid_homepage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kid_homepage img {
    width: 600px;
    height: 400px;
    display: flex;
}

.image-placeholder {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 18px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logo-placeholder {
        max-width: 150px;
        max-height: 100px;
    }

    .navbar-nav .nav-item {
        margin-right: 15px; 
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }

    .container h2 {
        font-size: 40px; 
    }

    .image-placeholder {
        height: 150px;
        font-size: 16px;
    }

    .kid_homepage img {
        width: 100%; 
        height: auto;
    }
}

/* About page specific styles */
.about-content {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-content h2 {
    font-size: 1.8rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.about-content p {
    font-size: 1.1rem;
    color: #777;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-content p.intro-text {
    text-align: center;
}

.about-content ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.about-content li {
    font-size: 1.1rem;
    color: #777;
    line-height: 1.6;
}

.about-img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Custom styles for the buttons */
.custom-btn {
    background-color: #516C2D; 
    color: #fff; 
    border: none; 

}

.custom-btn:hover {
    background-color: #ADC094; 
    color: #333; 
}

/* Small button styles */
.small-btn {
    font-size: 0.8rem; 
    padding: 5px 10px; 
}

/* What to do page specific styles */
.what-to-do-content {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.what-to-do-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.what-to-do-content h2 {
    font-size: 1.8rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.what-to-do-content p {
    font-size: 1.1rem;
    color: #777;
    line-height: 1.6;
    margin-bottom: 15px;
}

.what-to-do-content ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.what-to-do-content li {
    font-size: 1.1rem;
    color: #777;
    line-height: 1.6;
}

.resources {
    display: flex;
    flex-direction: column;
}

.resources a {
    margin-bottom: 10px;
}

/* Details/Summary styles */
details {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

summary {
    font-size: 18pt;
    color: #516C2D;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;

}

summary:focus {
    outline: none;
}

/* Ask Away title styles */
.ask-away-title {
    font-weight: bold;
    font-size: 30pt;
    padding-top: 20px; 
}

/* Chat UI Section styles */
.chat-ui-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.border-img {
    width: 100%;
    max-width: 1200px; 
    height: auto;
}

.arrowLines {
    padding: 50px;
}

.about-heading {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
}

.create-account {
    color:#ADC094;
}

.create-account:hover {
    color:#516C2D;  
}
